 

    .totop {
        position: fixed;
        top: 90%;
        right: 10px;
        text-align: center;
        cursor: pointer;
        display: none;
        background: #a05b7e;
        color: #fff;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        padding: 10px 0;
        font-size: 18px;
    }
	